@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

:root {
    --crema: #eee2cb;
    --cafe: #d6c39f;
    --negro: #130d02;
    --rojo: #ec5b56;
    --naranja: #f08c34;
    --amarillo: #f8cf6c;
    --verde: #48c597;
    --azul: #3983dc;
    --violeta: #b65edf;
    --rojooscuro: #410200;
    --naranjaoscuro: #3d1d00;
    --amarillooscuro: #422f00;
    --verdeoscuro: #002014;
    --azuloscuro: #000914;
    --violetaoscuro: #210031;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: var(--negro);
    background-color: var(--crema);
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(238,226,203,1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.header {
    height: 10vh;
    display: block;
    margin: auto;
    padding: 0.5rem;
    top: 0;
}

.gurises {
    background-image: url(../images/bloques.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    text-transform: lowercase;
    font-weight: 900;
    font-size: 3em;
    line-height: 100%;
    margin: 1rem auto;
    color: var(--azul);
    text-shadow: 3px 3px 1px var(--azuloscuro);
}

h2 {
    font-weight: 900;
}

.gurises a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25em;
    color: var(--rojooscuro);
    background-color: var(--rojo);
    border-radius: 1em;
    padding: 0 0.5em;
}

.gurises-inside {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: 100%;
}

.conocenos {
    background-image: url(../images/merienda.jpg);
    padding: 2rem 1rem;
}

.conocenos-inside {
    background-color: var(--crema);
    border-radius: 1rem;
    padding: 1rem;
}

.mision, .programas, .aliados {
    text-align: center;
    padding: 2rem 1rem;
}

.hl {
    background: linear-gradient(120deg, var(--amarillo) 0%, var(--amarillo) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: 0 60%;
}

.mision img {
    height: 20vh;
    display: block;
    margin: auto;
}

.mision p {
    margin-bottom: 4rem;
}

.programas div {
    background-color: var(--cafe);
    border-radius: 1em;
    overflow: hidden;
    margin: 1rem auto;
}

.programas-inside {
    padding: 1em;
}

.programas h3 {
    margin-top: 0;
}

.aliados img {
    width: 45vw;
    display: block;
    margin: 1.5rem auto;
}